<!-- <app-listing></app-listing> -->
<!-- <router-outlet></router-outlet> -->
<!-- <div class=container>
<h1>Employe Local database!</h1> -->
<!-- <a routerLink="/empdata" routerLinkActive="active">Employee List</a> -->
<!-- <button type="button" class="bb btn btn-dark" routerLink="/empdata" routerLinkActive="active">Employee List</button>

<button type="button" class="bb btn btn-dark" routerLink="/listing" routerLinkActive="active">New Employee </button>
</div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Home</a>
    <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        
        <a class="nav-item nav-link" routerLink="/empdata" routerLinkActive="active" href="#">Employee List</a>
        <a class="nav-item nav-link" routerLink="/listing" routerLinkActive="active" href="#">New Employee</a>
       
      </div>
    </div>
  </nav>




  <router-outlet></router-outlet>